<h1 class="mt-2">Modulos que proveen componentes</h1>
<h2>Arbol de módulos por jerarquía</h2>


<p>En Angular, los módulos proporcionan componentes a través de la declaración de los mismos en su sección declarations.
    Esto permite que los componentes estén disponibles dentro del módulo y puedan ser utilizados en el código HTML.
    Además de los componentes, los módulos también pueden proporcionar servicios, directivas y otros elementos
    necesarios para el funcionamiento del módulo.</p>

<p>Una vez declarados los componentes en el módulo, puedes utilizarlos en otros componentes del mismo módulo o incluso
    exportarlos para que estén disponibles en otros módulos. Para utilizar componentes de otros módulos, debes importar
    esos módulos en el módulo actual.</p>

<p>Además de la declaración y la importación de módulos, también se pueden proporcionar componentes a través de la
    inyección de dependencias. Esto implica que un componente pueda recibir instancias de otros componentes, servicios o
    dependencias a través de su constructor, lo que facilita la reutilización y la modularidad del código en Angular.
</p>

<p>En resumen, los módulos en Angular proveen componentes mediante su declaración en la sección declarations y pueden
    ser utilizados dentro del módulo o exportados para su uso en otros módulos. También se pueden proporcionar
    componentes a través de la inyección de dependencias.</p>