<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Angular 16</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Antes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Variables</a></li>
                        <li><a class="dropdown-item">Tags</a></li>
                        <li><a class="dropdown-item">Inputs</a></li>
                        <li><a class="dropdown-item">Módulos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ahora
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Variables</a></li>
                        <li><a class="dropdown-item">Tags</a></li>
                        <li><a class="dropdown-item">Inputs</a></li>
                        <li><a class="dropdown-item">Módulos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>