<h1 class="mt-2">NOVEDADES ANGULAR 16</h1>
<hr>
<p>El día 03 de mayo de 2023 el equipo que da soporte a Angular anuncio el lanzamiento de la versión Angular 16 que esta
    repleta de nuevas características, nuevas funcionalidades de reactividad, renderizado del lado del servidor y nuevas
    herramientas.
</p>
<p>Todo esto viene con docenas de mejoras en la calidad de vida en las solicitudes de funciones, con más
    de 2500 aprobados combinados en GitHub. En este Post te compartiré Las Novedades más Destacadas Que Trae Angular 16,
    vamos con ello.</p>

<hr>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 9"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/1.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/2.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/3.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/4.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/5.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/6.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/7.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/8.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
        <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/sergiecode/angular16news/master/9.png" class="d-block w-100" alt="angular 16 tutorial">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>